PORT=5000
NODE_ENV=development

# Neon PostgreSQL
DATABASE_URL=postgresql://USER@HOST/DBNAME?sslmode=require

# JWT
JWT_SECRET=super_secret_key

# AI API (OpenAI, Gemini, etc.)
AI_API_KEY=your_ai_api_key

# Socket
CLIENT_URL=http://localhost:5173
CLIENT_URLS=http://localhost:5173,http://localhost:4173,https://tsinat.netlify.app
